@media (max-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a  {
    border-bottom: 0px solid #333 !important;
    border-radius: 12px 12px 0 0 !important;
    margin-bottom: 0 !important;
  }
}

body {
    overflow-x: hidden;
    margin: 0;
	background-color: #333;
}

#playing {
	background-color: #337AB7;
	border: 1px solid #5bc0de;
	border-radius: 7px;
	margin:10px 15px 0 15px;
}

#recherche  {
	background-color: #337AB7;
	border-radius: 0 0 12px 12px;
}

.add-button {
  float: left;
  margin: 10px 10px 0 0;
}

.nav {
	background-color: #474747;
	border-radius: 12px 12px 0 0;
	text-align: center;
}

.list-group-item {
	background-color: #337AB7;
	border: 2px solid #2e6da4;
	color: #ffffff;
}

.input-group {
	margin-top: 10px;
}

.nav-pills > li.active > a {
	background-color: #337AB7;
	border-radius: 12px 12px 0 0 ;
	
}
	
a:focus{
	outline: none;
	background-color: #337AB7;
}

.btn.btn-default:focus{
	outline: none;
	box-shadow: none;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
	color: #ffffff
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}